<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Reporte de empleado</title>
    <style type="text/css">
        @page {
            size: A4;
            margin: 1cm;
        }
        .list-group {
            display: block;
            width: 100%;
            list-style: none;
            margin-top: 15px;
            margin-bottom: 15px;
        }
        .list-group p {
            width: 100%;
            height: 20px;
            line-height: 20px;
            list-style: none;
            font-size: 1.1em;
        }
    </style>
</head>
<body>

<div class="container">
    <div class="card">
        <div class="card-header">
            <h3>Reporte de empleado - {{ fecha }}</h3>
        </div>

        <div class="list-group">
            <p>Reporte solicitado por: {{ email }}</p>
        </div>
    </div>
</div>

<div class="container">
    <h1>Registrado el </h1>&nbsp;&nbsp;&nbsp;   {{ empleado.fecha_registro}}
    <h1>Nombre(s) </h1>&nbsp;&nbsp;&nbsp;       {{ empleado.nombre }}
    <h1>Apellido P. </h1>&nbsp;&nbsp;&nbsp;     {{ empleado.a_paterno }}
    <h1>Apellido M. </h1>&nbsp;&nbsp;&nbsp;     {{ empleado.a_materno}}
    <h1>Nació </h1>&nbsp;&nbsp;&nbsp;           {{ empleado.fecha_nacimiento }}

</div>


</body>
</html>