{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Registrar</title>
    <!-- <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}"> -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">

</head>
<body>

    {% include 'appbar.html' %}  
    <div class="container">
           <h3 class="mb-4">Registrar persona</h3>
            <form method="POST">
                {% csrf_token %}
                {{ form }}
                <input type="submit" value="Registrar" class="btn btn-success btn-md mt-2 float-right">
            </form>
            <br>
            <a href="/">Regresar</a>
    </div>
   
</body>
</html>