{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Registrar</title>
    <!-- <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}"> -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">

</head>
<body>

    {% include 'appbar.html' %}  
    <div class="container mb-5">
         
           <div class="row">
                <div class="col-10">
                        <h3 class="mb-4">Registrar empleado</h3>
                </div>
                <div class="col-2">
                        <a class="float-right btn btn-success btn-sm" href="{% url 'crud:empleados' %}">Regresar</a>
                </div>
           </div>
     

           
            <br>
            {% if resultados %} 
            
            <h6>
                {{ resultados }}
            </h6>

            {% else %}

            <form method="POST" action="">
                {% csrf_token %}
                {{ form }}
                <input type="submit" value="Registrar" class="btn btn-success btn-md mt-4 float-right">
            </form>

            {% endif %}

    </div>
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    {{ form.media }}
</body>
</html>