{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
</head>
<body>
        {% include 'appbar.html' %}  
        <div class="row align-items-center h-75 mx-0">
            <div class="col-xl-5 col-lg-7 col-md-10 col-sm-10 container px-5">
          
                <h5>"Parece que no se ha encontrado algo, aqui tampoco hay nada :("</h5>
            </div>
        </div>
   
</body>
</html>