{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
        <nav class="navbar navbar-expand-lg navbar-expand-sm navbar-dark bg-primary">
                <div class="container">
               
                    <a class="navbar-brand" href="{% url 'crud:empleados' %}">CRUD Básico</a>
                    <div class="float-right ">
                                
                                <p class="d-inline my-auto">{{ email }}</p>

                                <a class="float-right d-inline my-auto ml-3" href="{% url 'crud:salir' %}">
                                        <img src="{% static 'img/salir.png' %}" style="width:20px;height:20px;">
                                </a>
                    </div>

                </div>
                
        </nav>
        <br>
</body>
</html>