<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
                <div class="container">
               
                    <a class="navbar-brand" href="{% url 'crud:listar' %}">CRUD Básico</a>

                    
                  <p class="float-right my-auto">Correo</p>
                </div>
        </nav>
        <br>
</body>
</html>